<!-- component -->
<!-- Container -->
<div class="flex flex-wrap min-h-screen w-full content-center justify-center bg-gray-200 py-10 font-[montserrat]">
  
  <!-- Login component -->
  <div class="flex shadow-md">
    <!-- Login form -->
    <div class="flex flex-wrap content-center justify-center  bg-white" style="width: 24rem; height: 32rem;">
      <div class="w-72">
        <!-- Heading -->
        <h1 class="text-xl font-semibold">Login</h1>
        <small class="text-gray-400">Welcome back! Please enter your details</small>

        <!-- Form -->
        <form class="mt-4">
          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">Email</label>
            <input type="email" placeholder="Enter email" class="block w-full rounded-md border border-gray-300 focus:border-rose-400 focus:outline-none focus:ring-1 focus:ring-rose-400 py-1 px-1.5 text-gray-500" />
          </div>

          <div class="mb-5">
            <label class="mb-2 block text-xs font-semibold">Password</label>
            <input type="password" placeholder="Enter password" class="block w-full rounded-md border border-gray-300 focus:border-rose-400 focus:outline-none focus:ring-1 focus:ring-rose-400 py-1 px-1.5 text-gray-500" />
          </div>


          <div class="mb-3">
            <button class="mb-1.5 block w-full text-center text-white bg-rose-500 hover:bg-rose-700 px-2 py-1.5 ">Sign in</button>
          </div>
        </form>

        <!-- Footer -->
        <div class="text-center">
          <span class="text-xs text-gray-400 font-semibold">Don't have account?</span>
          <a href="#" class="text-xs font-semibold text-rose-500">Sign up</a>
        </div>
      </div>
    </div>

    <!-- Login banner -->
    <div class="flex flex-wrap content-center justify-center rounded-r-md" style="width: 24rem; height: 32rem;">
      <img class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md" src="https://scontent-lcy1-1.cdninstagram.com/v/t51.29350-15/315652601_360249669641771_7257372947763888861_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=m2UJ18mN6hsAX-opm8C&_nc_ht=scontent-lcy1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDcYqYCeEb6s40YoCWJulAmUk8pzwsFXqeT2fXBc-16ZA&oe=63AEC48C">
    </div>

  </div>
  <!-- Credit -->

</div>